<div class="container">
    <div class="card col-sm-12" style="background-color: rgb(255,255,255, 0.4); border-radius: 5px">
        <div class="card-body px-4">
            <div class="heading-title text-center mb-3">
                <h3 class="display-4 mb-2">Join Us </h3>
                <div class="row justify-content-center">
                    <p class="lead col-sm-8">Become a part of CJSIA and be notified of upcoming events!</p>
                </div>
            </div>
            <div id="error" class="alert alert-danger" style="display: none" role="alert">
                Please make sure to fill in all fields and enter a valid email!
            </div>
            <div id="success" class="alert alert-success" style="display: none" role="alert">
                Successfully added to mailing list!
            </div>
            <div class="row">

                <div class="col-md-12 mb-md-0 mb-5">

                    <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                        <div class="row">

                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="fname" name="fname" class="form-control" required>
                                    <label for="fname" class="mx-3">First Name</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="lname" name="lname" class="form-control" required>
                                    <label for="lname" class="mx-3">Last Name</label>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="email" id="email" name="email" class="form-control" required>
                                    <label for="email" class="mx-3">Email</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="md-form mb-0">
                                    <input type="text" id="school" name="school" class="form-control" required>
                                    <label for="school" class="mx-3">School</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="md-form mb-0">
                                    <select class="form-control" id="grade">
                                        <option value='default' selected>Select Grade</option>
                                        <option value="12">12</option>
                                        <option value="11">11</option>
                                        <option value="10">10</option>
                                        <option value="9">9</option>
                                        <option value="8">8</option>
                                        <option value="7">7</option>
                                        <option value="6">6</option>
                                        <option value="5">5</option>
                                        <option value="4">4</option>
                                        <option value="3">3</option>
                                        <option value="other">Other</option>
                                    </select>
                                    <label for="grade" class="mx-3">Grade</label>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form">
                                    <textarea type="text" id="experience" name="experience" rows="2"
                                        class="form-control md-textarea" required></textarea>
                                    <label for="experience" style="color:rgb(78, 78, 78)" class="mx-3">List prior
                                        experiences with public speaking, leadership, and entrepreneurship</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form">
                                    <textarea type="text" id="learn" name="learn" rows="2"
                                        class="form-control md-textarea" required></textarea>
                                    <label for="learn" style="color:rgb(78, 78, 78)" class="mx-3">What do you hope
                                        to get out of CJSIA?</label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div class="text-center text-md-left">
                        <a class="submit btn border-info btn-block  text-info " onclick="submitContact()">Submit</a>
                    </div>
                    <div class="status"></div>
                </div>




            </div>
            <br>
            <br>

        </div>



    </div>
    <br>
    <div class="card col-sm-12" style="background-color: rgb(255,255,255, 0.4); border-radius: 5px">
        <div class="card-body px-4">
            <div class="heading-title text-center mb-3">
                <h3 class="display-4 mb-2">Board/Chapter Applications </h3>
                <div class="row justify-content-center">
                    <p class="lead col-sm-8 mb-1">If you are interested in becoming a part of the CJSIA board or are
                        looking to start your own chapter, send us an email at <a href="mailto:board@cjsia.com"
                            style="color:rgb(11, 75, 158); text-decoration: none;">board@cjsia.com</a>.
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>
<br>
<br>

<script>
    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
    function submitContact() {
        fname = document.getElementById('fname').value
        lname = document.getElementById('lname').value
        email = document.getElementById('email').value
        school = document.getElementById('school').value
        grade = document.getElementById('grade').value
        experience = document.getElementById('experience').value
        learn = document.getElementById('learn').value

        error = document.getElementById('error')
        success = document.getElementById('success')

        if (email == "" || email == undefined || email == null || !validateEmail(email)) {
            console.log('email')
            error.style.display = "block"
            return
        }
        if (fname == "" || fname == undefined || fname == null) {
            console.log('fname')
            error.style.display = "block"
            return
        }
        if (lname == "" || lname == undefined || lname == null) {
            console.log('lname')
            error.style.display = "block"
            return
        }
        if (school == "" || school == undefined || school == null) {
            console.log('school')
            error.style.display = "block"
            return
        }
        if (experience == "" || experience == undefined || experience == null) {
            console.log('experience')
            error.style.display = "block"
            return
        }
        if (learn == "" || learn == undefined || learn == null) {
            console.log('learn')
            error.style.display = "block"
            return
        }
        if (grade == "" || grade == undefined || grade == null || grade == "default") {
            console.log('grade')
            error.style.display = "block"
            return
        }

        fetch('https://docs.google.com/forms/d/e/1FAIpQLSch5Pv6HrkCJ9_ElJHbnQjhu1gtDf0yzVco360g1709ufhReQ/formResponse?usp=pp_url&entry.27431161=' + email + '&entry.379500754=' + fname + '&entry.1082644833=' + lname + '&entry.1390708084=' + school + '&entry.1029802789=' + grade + '&entry.605663436=' + experience + '&entry.404639165=' + learn + '&submit=Submit', { mode: 'no-cors' })
            .then((response) => {
                return response.json();
            })
            .then((myJson) => {
                console.log(myJson);

            });
        error.style.display = "none"
        success.style.display = "block"
        document.getElementById('fname').value = ""
        document.getElementById('lname').value = ""
        document.getElementById('email').value = ""
        document.getElementById('school').value = ""
        document.getElementById('grade').value = ""
        document.getElementById('experience').value = ""
        document.getElementById('learn').value = ""
    }


</script>