
<div class="container">
    <div class="card col-sm-12" style="background-color: rgb(255,255,255, 0.4); border-radius: 5px">
        <div class="card-body px-4">
            <div class="heading-title text-center mb-3">
                <h3 class="display-4 mb-2">The 2020 Team </h3>
                <div class="row justify-content-center">
                    <p class="lead col-sm-8">Meet the dedicated team that works tirelessly to bring CJSIA and the
                        visions of its members to reality. </p>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 col-sm-12  mb-4">
                    <div class="card px-0 mx-2" style="background: rgb(0,0,0,0.04)">
                        <div class="team-member card-img-top mx-0">
                            <div class="team-img" style="  background-image: url('/img/board/kohli.png');
                                height: 60vh;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;">
                                <!-- <img src="static/img/board/kohli.png"
                                        alt="team member" class="img-responsive " > -->
                            </div>
                            <div class="team-hover">
                                <div class="desk">
                                    <p>Rohan is a senior at West Windsor-Plainsboro High School North. Aside from
                                        CJSIA, Rohan’s passion for
                                        leadership spread across his community, with him being President of his
                                        school’s Model Congress team and
                                        Vice President of his school’s Model United Nations team. In his
                                        free time, Rohan enjoys taking trips to Princeton with his friends, biking
                                        along central jersey’s
                                        unmatched scenery, and simply reading intriguing books. </p>
                                </div>
                                <!-- <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="team-title text-center">
                                <h5>Rohan Kohli</h5>
                                <span>Co-President</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-4  mb-4">
                    <div class="card px-0 mx-2" style="background: rgb(0,0,0,0.04)">
                        <div class="team-member card-img-top mx-0">
                            <div class="team-img" style="  background-image: url('/img/board/phalgunsquare.jpg');
                                height: 60vh;
                                background-repeat: no-repeat;
                                background-position: center center;
                                transform: scale(1.1);
                                background-size: cover;">
                            </div>
                            <div class="team-hover">
                                <div class="desk">
                                    <p>Phalgun is currently a senior at West Windsor-Plainsboro High
                                        School North and serves as one of the Co-Presidents for the Central Jersey
                                        Student Innovators' Association. Aside from CJSIA, he is passionate about
                                        the fields of finance, statistics/data analytics, and philosophy. In his
                                        free time, he enjoys collecting socks, watching TV, and finding laptop
                                        stickers from restaurants
                                        around the country.</p>
                                </div>
                                <!-- <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="team-title text-center">
                                <h5>Phalgun Garimella</h5>
                                <span>Co-President</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-4  mb-4">
                    <div class="card px-0 mx-2" style="background: rgb(0,0,0,0.04)">
                        <div class="team-member card-img-top mx-0">
                            <div class="team-img" style="  background-image: url('/img/board/saanika.jpg');
                                height: 60vh;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;">
                            </div>
                            <div class="team-hover">
                                <div class="desk">
                                    <p>Saanika is currently a high school senior interested in studying
                                        machine learning and software
                                        development. She has held leadership positions on her FIRST Robotics team,
                                        completed independent
                                        research projects, as well as focused on outreach efforts in her community.
                                        Her zeal and initiative to learn and
                                        lead speaks for itself, and in
                                        the future, she aspires to be like the women leaders in technology who she
                                        looks up to today. </p>
                                </div>
                                <!-- <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="team-title text-center">
                                <h5>Saanika Kulkarni</h5>
                                <span>Co-President</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-4  mb-4">
                    <div class="card px-0 mx-2" style="background: rgb(0,0,0,0.04)">
                        <div class="team-member card-img-top mx-0">
                            <div class="team-img" style="  background-image: url('/img/board/akashsquare.jpg');
                                height: 60vh;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;">
                            </div>
                            <div class="team-hover">
                                <div class="desk">
                                    <p>Akash is currently a junior at West Windsor-Plainsboro High School South and
                                        serves as one of the
                                        Vice-Presidents for Central Jersey
                                        Student Innovators' Association. Aside from CJSIA, he is passionate
                                        about computer science, physics, and international policy and is a part of
                                        the SouthMUN team.
                                        In his free time, you can typically find him either sleep-deprived at
                                        hackathons, completing CTFs, or skating. </p>
                                </div>
                                <!-- <div class="s-link">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="team-title text-center">
                                <h5>Akash Bobba</h5>
                                <span>Vice President</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-4  mb-4">
                    <div class="card px-0 mx-2" style="background: rgb(0,0,0,0.04)">
                        <div class="team-member card-img-top mx-0">
                            <div class="team-img" style="  background-image: url('');
                                height: 60vh;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;">

                            </div>
                            <div class="team-hover">
                                <div class="desk">
                                    <p>Raghu is a Junior at West Windsor - Plainsboro High School South. Outside of
                                        CJSIA, Raghu has pursued his passion for helping the community, and the
                                        environment. He is the president of the school’s environmental club, and
                                        founder of Artistic Hearts, a 501(c)(3) nonprofit organization that enables
                                        high schoolers to play music for patients undergoing Dialysis treatment.
                                        Raghu is also a nationally ranked tennis player. In his free time, Raghu
                                        enjoys gardening and playing tennis.
                                    </p>
                                </div>
                                <!-- <div class="s-link">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="team-title text-center">
                                <h5>Ragunandhan Raman</h5>
                                <span>Vice President</span>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-6 col-sm-12 col-lg-4  mb-4">
                    <div class="card px-0 mx-2" style="background: rgb(0,0,0,0.04)">
                        <div class="team-member card-img-top mx-0">
                            <div class="team-img" style="  background-image: url('/img/board/rishi.png');
                                height: 60vh;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;">
                            </div>
                            <div class="team-hover">
                                <div class="desk">
                                    <p>Rishi is a junior at West Windsor-Plainsboro High School South and is the
                                        Director of Logistics
                                        within CJSIA. At South, he is a part of the varsity basketball and
                                        SouthMUN team. Rishi is also
                                        involved in his local community as the President of the Tutoring Desk. He
                                        is very excited to serve as the Director of Logistics for CJSIA for 2020 and
                                        to help empower
                                        students on the basis of innovation and entrepreneurship. </p>
                                </div>
                                <!-- <div class="s-link">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="team-title text-center">
                                <h5>Rishi Madala </h5>
                                <span>Director of Logistics</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-4  mb-4">
                    <div class="card px-0 mx-2" style="background: rgb(0,0,0,0.04)">
                        <div class="team-member card-img-top mx-0">
                            <div class="team-img" style="  background-image: url('/img/board/samvit.jpg');
                                height: 60vh;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;">
                            </div>
                            <div class="team-hover">
                                <div class="desk">
                                    <p>Samvit is a junior at WWP South with a passion for public speaking, computer
                                        science and
                                        entrepreneurship. In school, he is a part of the Model United Nations team,
                                        an active member of the
                                        Debate club and a officer of South TSA. Outside of
                                        school, Samvit regularly
                                        attends hackathons, competes in competitive programming competitions and
                                        volunteers as part of CS Remastered. A true advocate for leadership and
                                        innovation, Samvit is
                                        excited to serve as the
                                        Director of Technology for CJSIA. </p>
                                </div>
                                <!-- <div class="s-link">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="team-title text-center">
                                <h5>Samvit Agarwal </h5>
                                <span>Director of Technology</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-lg-4  mb-4">
                    <div class="card px-0 mx-2" style="background: rgb(0,0,0,0.04)">
                        <div class="team-member card-img-top mx-0">
                            <div class="team-img" style="  background-image: url('/img/board/bharat.png');
                                height: 60vh;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;">
                            </div>
                            <div class="team-hover">
                                <div class="desk">
                                    <p>Bharat is a junior at West Windsor-Plainsboro High School South with an
                                        extensive background in
                                        public speaking and who has a strong interest in pursuing law. Outside of
                                        school, Bharat is a member
                                        of the debate team, awarding at multiple national tournaments including
                                        Princeton Moot Court, and
                                        the Capitol Beltway Classic. As the Director of Finances for CJSIA, Bharat
                                        is excited
                                        to share his experience
                                        with others
                                        others in order to teach real-world skills and innovation. </p>
                                </div>
                                <!-- <div class="s-link">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="team-title text-center">
                                <h5>Bharat Krishnan </h5>
                                <span>Director of Finances</span>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>
<br>
<br>