#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    font-size: 14vw;
    font-family: "vegur";
    font-weight: bold;

}

body {
    font-family: "vegur";
}

.card-header {
    font-weight: bold;

}

.card-title {
    font-weight: bold;

}

.navbar {
    font-family: "vegur";
    font-weight: bold;
}


@font-face {
    font-family: "vegur";
    src: url(../fonts/vr.otf);
    font-weight: normal;

}

@font-face {
    font-family: "vegur";
    src: url(../fonts/vb.otf);
    font-weight: bold;

}

@font-face {
    font-family: "vegur";
    src: url(../fonts/vl.otf);
    font-weight: initial;
}

html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}