
.container {
    font-family: "vegur";
}

.card-header {
    font-weight: bold;

}

.card-title {
    font-weight: bold;

}

html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }

#title {
    font-family: "vegur";
    font-weight: bold;  
}

@font-face {
    font-family: "opensans";
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: bold;

}
@font-face {
    font-family: "opensans";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;

}

@font-face {
    font-family: "vegur";
    src: url(../fonts/vr.otf);
    font-weight: normal;

}

@font-face {
    font-family: "vegur";
    src: url(../fonts/vb.otf);
    font-weight: bold;

}

@font-face {
    font-family: "vegur";
    src: url(../fonts/vl.otf);
    font-weight: initial;
}

html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

$grid-gutter-width: 30px !default;

$cards-per-line: (
    xs: 1,
    sm: 2,
    md: 3,
    lg: 4,
    xl: 5
);

@each $name, $breakpoint in $grid-breakpoints {
	@media (min-width: $breakpoint) {
		.card-deck .card {
			flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
		}
	}
}