#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 85vh;
    font-size: 14vw;
    font-family: "vegur";
    font-weight: bold;

}
canvas {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    }
:not(canvas){
    z-index: 3;
}
#canvas-div
{ position:fixed; top:0px; left:0px; z-index:1; }
/* canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    z-index: -2;
} */

.navbar {
    font-family: "vegur";
    font-weight: bold;
}

#sub {
    font-family: "vegur";

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 6vh;
    font-size: 5vw;
}

@font-face {
    font-family: "vegur";
    src: url(../fonts/vr.otf);
    font-weight: normal;

}

@font-face {
    font-family: "vegur";
    src: url(../fonts/vb.otf);
    font-weight: bold;

}

@font-face {
    font-family: "vegur";
    src: url(../fonts/vl.otf);
    font-weight: lighter;
}