#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 85vh;
    font-size: 14vw;
    font-family: "vegur";
    font-weight: bold;

}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    z-index: -1;
}

.unique {
    position: relative;
    overflow: hidden;
}

.navbar {
    font-family: "vegur";
    font-weight: bold;
}

#sub {
    font-family: "vegur";

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 6vh;
    font-size: 5vw;
}

:not(body){
    background-color: rgba(0,0,0,0);
}


@font-face {
    font-family: "vegur";
    src: url(../fonts/vr.otf);
    font-weight: normal;

}

@font-face {
    font-family: "vegur";
    src: url(../fonts/vb.otf);
    font-weight: bold;

}

@font-face {
    font-family: "vegur";
    src: url(../fonts/vl.otf);
    font-weight: lighter;
}