#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
    font-size: 600%;
    height: fit-content;
    font-family: "vegur";
    font-weight: bold;
}

.arrow {
    position: relative;
    text-align: center;
    margin: 8% 0;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* background-image: linear-gradient(to bottom right, rgba(0, 204, 255, 0.404), rgba(255, 230, 0, 0.336)); */
}

:not(canvas) {
    z-index: 3;
}

#cover {
    /* background: linear-gradient(to right, rgba(0, 204, 255, 0.2), rgba(255, 230, 0, 0.2));
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    margin: 0;
    height: 100%;
}
/* 
#content {
    background: linear-gradient(to right, rgba(0, 204, 255, 0.2), rgba(255, 230, 0, 0.2));
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    height: 100%;
} */

html, body {
    background: linear-gradient(to right, rgba(0, 204, 255, 0.2), rgba(255, 230, 0, 0.2));

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    height: 100%;
    /* overflow: hidden; */
    -webkit-user-select: none;
    /* Safari, Chrome */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE */
    user-select: none;
    /* CSS3 */
}

#sub {
    font-family: "vegur";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 6vh;
    font-size: 40%;
}

@font-face {
    font-family: "opensans";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

#abouttitle {
    background: rgb(66, 66, 66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.carousel-item img {
    height: 50vh;
    object-fit: cover;
}

@font-face {
    font-family: "vegur";
    src: url(../fonts/vr.otf);
    font-weight: normal;
}

@font-face {
    font-family: "opensans";
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "vegur";
    src: url(../fonts/vb.otf);
    font-weight: bold;
}

@font-face {
    font-family: "vegur";
    src: url(../fonts/vl.otf);
    font-weight: lighter;
}